.galeria-entrantes{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.top{
    padding-bottom: 40px;
}

.labelrelative-ent{
    position: relative;
    width: 400px;
    padding-right: 40px;
    
}

.labelrelative-ent img{
    object-fit: cover;
}

.container-entrantes{
    padding-left: 200px;
    padding-right: 200px;
}