.galeria{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.galeria img {
    object-fit: cover;
}

.long{
    width: 100%;
    height: 370px;
}


/*CARTELITOS*/
.label{
    font-family: var(--heavy);
    color: var(--white);
    width: 250px;
    height: 90px;
    padding: 15px;
    line-height: 1.2;
    background-color: var(--rosa);
    font-size: var(--text-s);
    position: absolute;
    top: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.labelrelative{
    position: relative;
    margin-bottom: 40px;
}


.halftext{
    max-width: 50%;
    margin-left: auto;
}