@media(max-width: 1050px) { 
    body{
        /*Escala*/
        --text-xl: 35px;
        --text-l: 35px;
        --text-m: 26px;
        --text-s: 20px;
        --text-xs: 14px;
        --text-footer: 14px;
        /*Espaciados*/
        --margin-v-l: 130px;
        --margin-v-m: 60px;
        --margin-v-s: 40px;
    }

    .linksfooter{
        display:block;
    }

    .detalle-halftext{
        max-width: 100%;
    }
    .prodped{
        padding-top: 50px;
    }
}

@media(max-width: 1270px) { 
    .columnaspedido{
        display:block;
    }
    .colder{
        padding-left: 0;
    }
    .top{
        padding: 0;
    }
}

@media(max-width: 900px) { 
    .halftext{
        max-width: 100%;
        margin: 0;
    }
    
    #navbar{
        display: none;
    }

    .menu-nav{ 
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 300px;
        padding: 1rem 2rem;
        transform: translateX(350px);
        transition: transform .3s;
        display: block;
        z-index: 1;
        background-color: var(--negro); /*FONDO*/
    }

    .menu-nav.visible{
        transform: translateX(0);
    }

    .menu-nav ul{
        list-style: none;
        padding-left: 0;
        margin-top: 50px;
        font-weight: 700;
        font-size: 20px;
    }

    .menu-nav li{
        margin-bottom: 1rem;
        /*border-bottom: 3px solid var(--rosa);*/
    }

    hr {
        border: 0;
        border-top: 3px solid var(--rosa);
        padding: 0;
        margin-top: -10px;
        border-radius: 5px;
    }

    .menu-nav a{
        color: var(--white);
        text-decoration: none;
        font-family: var(--heavy);
        font-size: var(--text-s);
        line-height: 2.5;
        
    }
    
    .menu-nav a:hover{
        color: var(--rosa);
        transition: color 0.2s linear;
    }


    .show-menu{
        background-color: transparent;
        border: 0;
        border-radius: .3rem;
        cursor: pointer;
        margin-left: auto;
        padding: 70px 40px;
        font-family: var(--bold);
        font-size: 18px;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1; 
    }
    .show-menu img{
        height: 30px;
    }

    .close-menu{
        background-color: transparent;
        border: 0;
        color: var(--rosa);
        font-size: 50px;
        cursor: pointer;
        position: absolute;
        right: 1rem;
        top: 0;
        padding-top: 20px;
    }
    

    .linksfooter{
        display: none;
    }

    .footerelements{
        display: block;
    }

    .fotmq{
        display: block;
    }

    .cesta{
        display: none;
    }
    .cont-estrecho{
        padding-left: 40px;
        padding-right: 40px;
    }
    .logomq{
        position: absolute;
        z-index: 2;
        padding: 40px;
    }
    
    .logosize{
        max-width: 90px;
        width: 90px;
    }

    .logoresp{
        display: block;
    }

    .iconocesta{
        display: block;
        width: 40px;
        max-height: 20px;
        border-radius: 30px;
        background-color: var(--rosa);
        font-family: var(--heavy);
        color: var(--white);
        text-align: center;
    }
    
    .topper{
        display: flex;
        justify-content: space-between;
    }
    
}



@media(max-width: 750px) { 
    body{
        --text-hero: 70px;
    }
    .halftext{
        max-width: 100%;
        margin: 0;
    }

    .paddhero{
        padding: 40px;
    }
    .logo-hero{
        width: 180px;
        top: 33%;
    }
   
    .alimento{
        box-shadow: none;
    }

    .cuadrado{
        background-image: none;
        margin-left:0;
    }
    
    .hero-reserva{
        margin-bottom: 0;
    }
    .cuadrado{
        margin: 0;
    }

    .titulomq p{
        display: block;
    }
}

