.pedido{
    display: flex;
    justify-content: space-between
}

.linepedido{
    border-top: 2px solid var(--negro);
    max-width: 150px;
    margin-top: -20px;
}

.alimento{
    display: flex;
    max-width: 540px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    background-color: white;
}

.textoalimento{
    margin-left: 20px;

}

.textoalimento p, .cesta p{
    font-size: var(--text-xs);
}

.textoalimento h3{
    font-size: var(--text-s);
}

.fotoalimento{
    max-width: 180px;
}

.columnaspedido{
    display: flex;
}

.colder{
    padding-left: 40px;
}

.cesta{
    max-width: 540px;
    margin-top: 200px;
    margin-left: 40px;
}

.cesta h3{
    text-align: center;
    color: var(--rosa);
    line-height: 1.8;
}

.cesta p{
    text-align: center;
}

.lineacesta{
    border-bottom: 1px solid var(--gris);
}

.buttoncesta{
    background-color: var(--rosa);
    padding: 25px 70px;
    font-family: var(--black);
    font-size: var(--text-m);
    cursor: pointer;
}

.buttoncesta a{
    color: var(--white);
}

.buttoncesta:hover{
    background-color: var(--rosaoscuro);
    transition: background-color 0.2s linear;
}

.iconocesta{
    display: none;
}
