---
layout: layouts/base.njk
title: La Kiki | Oh My Burger!
---
<body>
	<div class="hero">
		<div class="hero-contacto">
			<div class="cuadrado">
				<h3 class="tituloreserva bottom-spacer-s">¡CONTÁCTANOS!</h3>
				<form>
					<input type="text" id="nombre" placeholder="Name">

					<input type="email" id="email" placeholder="Email">

					<input type="text" id="asunto" placeholder="Asunto">

					<input type="text" id="mensaje" placeholder="Mensaje">
					
					<input type="checkbox"> Quiero recibir novedades y newslettter a través de e-mail.</input>
					<input type="checkbox"> He leído y acepto la política de privacidad.</input>
				</form>

				<div class="centerbutton top-spacer-m">
					<a class="button" href="/exitocontacto/">ENVIAR</a>
				</div>
			</div>
		</div>
	</div>

</body>