---
layout: layouts/base.njk
title: Aros de cebolla | Oh My Burger!
---
<body>

	<!--AQUÍ VA EL HERO-->	
	<div class="hero">
		<div class="hero-detalle">
		</div>
		<div class="text-hero">
			<p> 
				AROS DE
				<br>
				CEBOLLA
			</p>
		</div>
	</div>

	<div class="cont-estrecho">
		<h1 class="top-spacer bottom-spacer-S prodname">AROS DE CEBOLLA</h1>
		<p class="top-spacer-s"><strong>6,90€</strong></p>
		<p class="top-spacer-s detalle-halftext">
			Crujientes aros de cebolla, acompañados de salsa Barbacoa Oh My Burger! Repetimos: muy, muy crujientes!
		</p>
		
		<div class="centerbutton top-spacer-m bottom-spacer-m">
			<a class="button" href="#">AÑADIR A LA CESTA</a>
		</div>

		<div class="line">
		</div>

		<h2 class="top-spacer-m bottom-spacer-m">OTROS ENTRANTES</h1>

		<div class="centerentrantes">

			<div class="galeria-entrantes">
				<div class="labelrelative-ent">
					<a href="/detalle/">
						<img src="/images/DETALLE/FatBalls.jpg" alt="" class="small img">
						<p class="label">
							FAT BALLS
						</p>
					</a>
				</div>

				<div class="labelrelative-ent">
					<a href="/detalle/">
						<img src="/images/DETALLE/Nachos.jpg" alt="" class="small img">
						<p class="label">
							NACHOS DE
							<br>
							DANIELA
						</p>
					</a>
				</div>

				<div class="labelrelative-ent">
					<a href="/detalle/">
						<img src="/images/DETALLE/Tenders.jpg" alt="" class="small img">
						<p class="label">
							CHICKEN
							<br>
							TENDERS
						</p>
					</a>
				</div>
			</div>

		</div>

		<div class="centerbutton top-spacer-m bottom-spacer-m">
			<a class="button" href="/entrantes/">VOLVER A LA CARTA</a>
		</div>
	</div>

</body>