---
layout: layouts/base.njk
title: La Kiki | Oh My Burger!
---
<body>

	<!--AQUÍ VA EL HERO-->	
	<div class="hero">
		<div class="hero-detalle">
		</div>
		<div class="text-hero">
			<p> 
				LA KIKI
			</p>
		</div>
	</div>

	<div class="cont-estrecho">
		<h1 class="top-spacer bottom-spacer-S prodname">LA KIKI</h1>
		<p class="top-spacer-s"><strong>11,50€</strong></p>
		<p class="top-spacer-s detalle-halftext">
			Acaba de incorporarse a nuestra familia de burgers esta delicia de pollo crujiente, queso americano, bacon, lechuga iceberg y Salsa 50 de Oh My Burger! Dale un toque especial añadiéndole pepinillos o huevo frito… ¡Otro rollo!
		</p>
		
		<div class="centerbutton top-spacer-m bottom-spacer-m">
			<a class="button">AÑADIR A LA CESTA</a>
		</div>

		<div class="line">
		</div>

		<h2 class="top-spacer-m bottom-spacer-m">OTRAS HAMBURGUESAS</h1>

		<div class="centerentrantes">

			<div class="galeria-entrantes">
				<div class="labelrelative-ent">
					<img src="/images/DETALLE/BombaSexy.jpg" alt="" class="small img">
					<p class="label">
						BOMBA SEXY
					</p>
				</div>

				<div class="labelrelative-ent">
					<img src="/images/DETALLE/Kevin.jpg" alt="" class="small img">
					<p class="label">
						HAMBURGUESA
						<br>
						KEVIN BACON
					</p>
				</div>

				<div class="labelrelative-ent">
					<img src="/images/DETALLE/OhMyBurger.jpg" alt="" class="small img">
					<p class="label">
						HAMBURGUESA
						<br>
						OH MY BURGER!
					</p>
				</div>
			</div>

		</div>

		<div class="centerbutton top-spacer-m bottom-spacer-m">
			<a class="button">VOLVER A LA CARTA</a>
		</div>
	</div>

</body>