---
layout: layouts/base.njk
title: Entrantes | Oh My Burger!
---
<body>

	<!--AQUÍ VA EL HERO-->
	<div class="hero">
			<div class="hero-entrantes">
			</div>
			<div class="text-hero paddhero">
				<p> 
					ENTRANTES
				</p>
			</div>
	</div>
    

	<div class="container">
		<h1 class="top-spacer bottom-spacer">ENTRANTES</h1>
		
		<div class="galeria-entrantes top">
			<div class="labelrelative-ent">
				<a href="/detalle/">
					<img src="/images/ENTRANTES/Triloaded.jpg" alt="" class="small img">
					<p class="label">
						TRI-LOADED
					</p>
				</a>
			</div>

			<div class="labelrelative-ent">
				<a href="/detalle/"> 
					<img src="/images/ENTRANTES/FatBalls.jpg" alt="" class="small img">
					<p class="label">
						FAT BALLS
					</p>
				</a>
			</div>

			<div class="labelrelative-ent">
				<a href="/detalle/">
					<img src="/images/ENTRANTES/Aros.jpg" alt="" class="small img">
					<p class="label">
						AROS DE
						<br>
						CEBOLLA
					</p>
				</a>
			</div>
		</div>

		<div class="galeria-entrantes">
			<div class="labelrelative-ent">
				<a href="/detalle/">
					<img src="/images/ENTRANTES/Teques.jpg" alt="" class="small img">
					<p class="label">
						TEQUES
					</p>
				</a>
			</div>

			<div class="labelrelative-ent">
				<a href="/detalle/">
					<img src="/images/ENTRANTES/Nachos.jpg" alt="" class="small img">
					<p class="label">
						NACHOS DE
						<br>
						DANIELA
					</p>
				</a>
			</div>

			<div class="labelrelative-ent">
				<a href="/detalle/">	
					<img src="/images/ENTRANTES/Tenders.jpg" alt="" class="small img">
					<p class="label">
						CHICKEN
						<br>
						TENDERS
					</p>
				</a>
			</div>
		</div>

		

		<div class="centerbutton top-spacer-m bottom-spacer-m">
			<a class="button" href="/entrantes/">VOLVER A LA CARTA</a>
		</div>
	</div>

</body>