---
layout: layouts/base.njk
title: La Kiki | Oh My Burger!
---
<body>
	<div class="hero">
		<div class="hero-reserva">
			<div class="cuadrado">
				<h3 class="tituloreserva bottom-spacer-s">¡OÍDO COCINA!</h3>
				<p class="bottom-spacer-s">
					Te ayudamos a encontrar el Oh My Burger! ideal para ti.
				</p>
				<div class="centerbutton top-spacer-m">
					<a class="button" href="/">VOLVER A LA HOME</a>
				</div>
			</div>
		</div>
	</div>

</body>