---
layout: layouts/base.njk
title: La Kiki | Oh My Burger!
---
<body>
	<div class="hero">
		<div class="hero-reserva">
			<div class="cuadrado">
				<h3 class="tituloreserva bottom-spacer-s">¡GRACIAS!</h3>
				<p class="bottom-spacer-s">
					Tu mensaje ha sido enviado con éxito, te responderemos con la mayor brevedad posible.
				</p>
				<div class="centerbutton top-spacer-m">
					<a class="button" href="/">VOLVER A LA HOME</a>
				</div>
			</div>
		</div>
	</div>

</body>