---
layout: layouts/base.njk
title: Home | Oh My Burger!
---
<body>

		<!--AQUÍ VA EL HERO-->
		<div class="hero nonhover">
			<div class="hero-slide">
			</div>
			<div class="text-hero">
				<p class="paddhero"> 
					OH
					<br>
					MY
					<br>
					BURGER!
				</p>
			</div>
			<img src="images/LogoBlanco.svg" alt="" class="logo-hero">
		</div>
    

		<div class="container">
			<h1 class="top-spacer bottom-spacer">CONOCE NUESTRAS<br>HAMBURGUESAS</h1>
			<div class="galeria">
				<div class="labelrelative">
					<img src="images/HOME/Yankee.jpg" alt="" class="long small img">
					<p class="label">
						HAMBURGUESA
						<br>
						YANKEE
					</p>
				</div>

				<div class="labelrelative">
					<img src="images/HOME/KevinHuevo.jpg" alt="" class="short small img">
					<p class="label">
						HAMBURGUESA
						<br>
						KEVIN
					</p>
				</div>
			</div>
			<div class="galeria">
				<div class="labelrelative">
					<img src="images/HOME/BombaSexy.jpg" alt="" class="short small img">
					<p class="label">
						HAMBURGUESA
						<br>
						BOMBA SEXY
					</p>
				</div>

				<div class="labelrelative">
					<img src="images/HOME/Mesa.jpg" alt="" class="long small img">
				</div>
			</div>
			<div class="galeria">
				<div class="labelrelative">
					<img src="images/HOME/Chipotle.jpg" alt="" class="long small img">
					<p class="label">
						HAMBURGUESA
						<br>
						CHIPOTLE
					</p>
				</div>

				<div class="labelrelative">
					<img src="images/HOME/Pigma.jpg" alt="" class="short small img">
					<p class="label">
						HAMBURGUESA
						<br>
						PIGMA
					</p>
				</div>
			</div>
			<div class="galeria">
				<div class="labelrelative">
					<img src="images/HOME/KevinBacon.jpg" alt="" class="short small img">
					<p class="label">
						HAMBURGUESA
						<br>
						KEVIN BACON
					</p>
				</div>

				<div class="labelrelative">
					<img src="images/HOME/Nachos.jpg" alt="" class="long small img">
					<p class="label">
						NACHOS DE
						<br>
						DANIELA
					</p>
				</div>
				
			</div>

			<div class="centerbutton top-spacer-s">
				<a class="button" href="/entrantes/">VER MÁS</a>
			</div>
		</div>
		
		<!--AQUÍ VA EL TEXTO-->
		<div class="container bottom-spacer-m">
			<h1 class="top-spacer bottom-spacer-s">NUESTRA HISTORIA</h1>
			<p class="halftext">
				Oh My Burger! es el lugar donde puedes dejarte llevar por el placer de las burgers más irresistibles y de mejor calidad, donde puedes rendirte a tus impulsos y disfrutar del chorreo sin que te importe mancharte las manos. Oh My Burger! es pura autenticidad en la experiencia, de principio a fin, y un Buen Rollo al que es imposible no sumarse.
				<br>
				<br>
				Nuestra historia comienza en plena crisis, en el año 2013, con Adrián Díaz, un joven catalán de 25 años, de ascendencia andaluza, que llega a Madrid para ejercer como Médico Interno Residente (MIR) de la especialidad de Geriatría en el Hospital de La Paz.
				<br>
				<br>
				Con 50.000 euros prestados por su madre, Adrián decidió emprender su sueño y abrir un restaurante. Se planteó hacer una hamburguesería gourmet, con la máxima calidad y atención, y junto a su hermana, diseñó la primera carta. Así nació Oh My Burger!
			</p>
		</div>
	</body>