---
layout: layouts/basepink.njk
title: Hacer pedido | Oh My Burger!
---
<body>
	<div class="container">
		<div class="pedido">
			<div class="prodped"> 
				<!--ENTRANTES-->
				<div class="topper">
					<div>
						<h1 class="top-spacer prodname titlepedido">ENTRANTES</h1>
						<div class="linepedido"></div>
					</div>
					<div class="iconocesta top-spacer">0</div>
				</div>
				<div class="columnaspedido">
					<div>
						<div class="alimento top-spacer-s">
							<img src="/images/ENTRANTES/Triloaded.jpg" alt="" class="fotoalimento">

							<div class="textoalimento">
								<h3>TRI-LOADED</h3>
								<p>7 tiras de pollo empanadas con tu salsa favorita de la casa.</p>
								<p class="top-spacer-xs">12,90€</p>
							</div>
						</div>

						<div class="alimento top-spacer-s">
							<img src="/images/ENTRANTES/FatBalls.jpg" alt="" class="fotoalimento">

							<div class="textoalimento">
								<h3>FAT BALLS</h3>
								<p>7 tiras de pollo empanadas con tu salsa favorita de la casa.</p>
								<p class="top-spacer-xs">8,50€</p>
							</div>
						</div>

						<div class="alimento top-spacer-s">
							<img src="/images/ENTRANTES/Aros.jpg" alt="" class="fotoalimento">

							<div class="textoalimento">
								<h3>AROS DE CEBOLLA</h3>
								<p>7 tiras de pollo empanadas con tu salsa favorita de la casa.</p>
								<p class="top-spacer-xs">6,90€</p>
							</div>
						</div>
					</div>

					<div class="colder">
						<div class="alimento top-spacer-s">
							<img src="/images/ENTRANTES/Teques.jpg" alt="" class="fotoalimento">

							<div class="textoalimento">
								<h3>TEQUES</h3>
								<p>7 tiras de pollo empanadas con tu salsa favorita de la casa.</p>
								<p class="top-spacer-xs">12,90€</p>
							</div>
						</div>

						<div class="alimento top-spacer-s">
							<img src="/images/ENTRANTES/Nachos.jpg" alt="" class="fotoalimento">

							<div class="textoalimento">
								<h3>NACHOS DE DANIELA</h3>
								<p>7 tiras de pollo empanadas con tu salsa favorita de la casa.</p>
								<p class="top-spacer-xs">8,50€</p>
							</div>
						</div>

						<div class="alimento top-spacer-s">
							<img src="/images/ENTRANTES/Tenders.jpg" alt="" class="fotoalimento">

							<div class="textoalimento">
								<h3>CHICKEN TENDERS</h3>
								<p>7 tiras de pollo empanadas con tu salsa favorita de la casa.</p>
								<p class="top-spacer-xs">6,90€</p>
							</div>
						</div>
					</div>
				</div>

				<!--HAMBURGUESAS-->
				<h1 class="top-spacer-m prodname titlepedido">HAMBURGUESAS</h1>
				<div class="linepedido"></div>
				<div class="columnaspedido">
					<div>
						<div class="alimento top-spacer-s">
							<img src="/images/HAMBURGUESAS/Kiki.jpg" alt="" class="fotoalimento">

							<div class="textoalimento">
								<h3>LA KIKI</h3>
								<p>7 tiras de pollo empanadas con tu salsa favorita de la casa.</p>
								<p class="top-spacer-xs">12,90€</p>
							</div>
						</div>

						<div class="alimento top-spacer-s">
							<img src="/images/HAMBURGUESAS/Lamante.jpg" alt="" class="fotoalimento">

							<div class="textoalimento">
								<h3>LA MANTE</h3>
								<p>7 tiras de pollo empanadas con tu salsa favorita de la casa.</p>
								<p class="top-spacer-xs">8,50€</p>
							</div>
						</div>

						<div class="alimento top-spacer-s">
							<img src="/images/HAMBURGUESAS/Chiliraptor.jpg" alt="" class="fotoalimento">

							<div class="textoalimento">
								<h3>CHILIRAPTOR</h3>
								<p>7 tiras de pollo empanadas con tu salsa favorita de la casa.</p>
								<p class="top-spacer-xs">6,90€</p>
							</div>
						</div>

						<div class="alimento top-spacer-s">
							<img src="/images/HAMBURGUESAS/BombaSexy.jpg" alt="" class="fotoalimento">

							<div class="textoalimento">
								<h3>BOMBA SEXY</h3>
								<p>7 tiras de pollo empanadas con tu salsa favorita de la casa.</p>
								<p class="top-spacer-xs">8,50€</p>
							</div>
						</div>

						<div class="alimento top-spacer-s">
							<img src="/images/HAMBURGUESAS/Kevin.jpg" alt="" class="fotoalimento">

							<div class="textoalimento">
								<h3>KEVIN BACON</h3>
								<p>7 tiras de pollo empanadas con tu salsa favorita de la casa.</p>
								<p class="top-spacer-xs">6,90€</p>
							</div>
						</div>
					</div>

					<div class="colder">
						<div class="alimento top-spacer-s">
							<img src="/images/HAMBURGUESAS/Ohmy.jpg" alt="" class="fotoalimento">

							<div class="textoalimento">
								<h3>OH MY BURGER!</h3>
								<p>7 tiras de pollo empanadas con tu salsa favorita de la casa.</p>
								<p class="top-spacer-xs">12,90€</p>
							</div>
						</div>

						<div class="alimento top-spacer-s">
							<img src="/images/HAMBURGUESAS/BabyYankee.jpg" alt="" class="fotoalimento">

							<div class="textoalimento">
								<h3>BABY YANKEE</h3>
								<p>7 tiras de pollo empanadas con tu salsa favorita de la casa.</p>
								<p class="top-spacer-xs">8,50€</p>
							</div>
						</div>

						<div class="alimento top-spacer-s">
							<img src="/images/HAMBURGUESAS/Pigma.jpg" alt="" class="fotoalimento">

							<div class="textoalimento">
								<h3>PIGMA</h3>
								<p>7 tiras de pollo empanadas con tu salsa favorita de la casa.</p>
								<p class="top-spacer-xs">6,90€</p>
							</div>
						</div>

						<div class="alimento top-spacer-s">
							<img src="/images/HAMBURGUESAS/Chipotle.jpg" alt="" class="fotoalimento">

							<div class="textoalimento">
								<h3>CHIPOTLE</h3>
								<p>7 tiras de pollo empanadas con tu salsa favorita de la casa.</p>
								<p class="top-spacer-xs">8,50€</p>
							</div>
						</div>

						<div class="alimento top-spacer-s">
							<img src="/images/HAMBURGUESAS/M30.jpg" alt="" class="fotoalimento">

							<div class="textoalimento">
								<h3>M-30</h3>
								<p>7 tiras de pollo empanadas con tu salsa favorita de la casa.</p>
								<p class="top-spacer-xs">6,90€</p>
							</div>
						</div>
					</div>
				</div>
				

				<!--POSTRES-->
				<h1 class="top-spacer-m prodname titlepedido">POSTRES</h1>
				<div class="linepedido"></div>
				<div class="columnaspedido bottom-spacer-m">
					<div>
						<div class="alimento top-spacer-s">
							<img src="/images/POSTRES/Carrot.jpg" alt="" class="fotoalimento">

							<div class="textoalimento">
								<h3>CARROT CAKE</h3>
								<p>7 tiras de pollo empanadas con tu salsa favorita de la casa.</p>
								<p class="top-spacer-xs">12,90€</p>
							</div>
						</div>

						<div class="alimento top-spacer-s">
							<img src="/images/POSTRES/Chunky.jpg" alt="" class="fotoalimento">

							<div class="textoalimento">
								<h3>CHUNKY DOUGHY</h3>
								<p>7 tiras de pollo empanadas con tu salsa favorita de la casa.</p>
								<p class="top-spacer-xs">8,50€</p>
							</div>
						</div>

						<div class="alimento top-spacer-s">
							<img src="/images/POSTRES/Cremoso.jpg" alt="" class="fotoalimento">

							<div class="textoalimento">
								<h3>CREMOSO</h3>
								<p>7 tiras de pollo empanadas con tu salsa favorita de la casa.</p>
								<p class="top-spacer-xs">6,90€</p>
							</div>
						</div>
					</div>

					<div class="colder">
						<div class="alimento top-spacer-s">
							<img src="/images/POSTRES/Frozen.jpg" alt="" class="fotoalimento">

							<div class="textoalimento">
								<h3>FROZEN CHOCO</h3>
								<p>7 tiras de pollo empanadas con tu salsa favorita de la casa.</p>
								<p class="top-spacer-xs">12,90€</p>
							</div>
						</div>

						<div class="alimento top-spacer-s">
							<img src="/images/POSTRES/Cookie.jpg" alt="" class="fotoalimento">

							<div class="textoalimento">
								<h3>CHOCOOKIE</h3>
								<p>7 tiras de pollo empanadas con tu salsa favorita de la casa.</p>
								<p class="top-spacer-xs">8,50€</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--CESTA-->
			<div class="cesta">
				<h3 class="lineacesta">CESTA</h3>
				<p class="bottom-spacer-s">Tu cesta está vacía.</p>
				<div class="centerbutton buttoncesta">
					<a href="#">HACER PEDIDO</a>
				</div>
			</div>

		</div>

	</div>

</body>